<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
	 <script src="https://kit.fontawesome.com/475b1b22bd.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
				<h1>{{titulo}}
				<a class="home" href="{{ path('app_ver_empresa_socios') }}">
					<i class="fa-solid fa-house"></i>
					</a></h1>
					<strong class="nomeusuario">Usuario:{{ app.user.nome }}</strong>
					<a class='logout' href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a>
			{% endif %}
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
